//  ---------------------------------------------------------------------------
//
//  Defines the styling for 404 section
//
//  ---------------------------------------------------------------------------
	
	body
	{
		background:$blackSand;
	}

	.not-found
	{
		background:$white;
		text-align:center;
	}