//  ---------------------------------------------------------------------------
//
//  Defines the layout for branding
//
//  ---------------------------------------------------------------------------




//  ---------------------------------------------------------------------------
//
//  Defines the styling for branding
//
//  ---------------------------------------------------------------------------

	.branding
	{ 
		position:relative;
		padding-bottom: 40%;
		background:url(../images/branding-bg.jpg) top center no-repeat;
		background-size:100% auto;
		border-bottom:0 solid $olive;
		@include rem(border-bottom-width, $singleSpace);
		letter-spacing: -.2rem;

		.container
		{
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
		}
	}

	.event-name
	{
		position:absolute;
		@include rem(left, $r-grid-padding);
		bottom: 0;

		@include setType(6.2, 5);
		text-shadow:0 0 30px $white,
					0 0 20px $white,
					0 0 20px $white,
					0 0 10px $white,
					0 0 10px $white,
					0 0 5px $white;
		color:$blackSand;
		
		small
		{
			color:$blackSand;
			@include setType(2.4, 2.4);
			font-family:$sansFontFamily;
			letter-spacing: -.1rem;
		}

		@include at-breakpoint($large-width)
		{
			@include setType(7.2, 6);
			
			small
			{
				@include setType(2.9, 2.9);
			}
		}

		@include at-breakpoint($huge-width)
		{
			@include setType(8.2, 7);
			
			small
			{
				@include setType(3.4, 3.4);
			}
		}

		@include at-breakpoint($giant-width)
		{
			@include setType(9.2, 8);
			
			small
			{
				@include setType(3.9, 3.9);
			}
		}
	}