//  ---------------------------------------------------------------------------
//
//  Defines the layout for info seciton
//
//  ---------------------------------------------------------------------------




//  ---------------------------------------------------------------------------
//
//  Defines the styling for info section
//
//  ---------------------------------------------------------------------------
	
	.info
	{
		.section__title
		{
			@include rem(margin-bottom, $singleSpace / 2);
			@include setType($h3Size, $h3LineHeight);

			@include at-breakpoint($large-width no-mq)
			{
				@include rem(margin-top, $doubleSpace * 2);
			}
		}
	}

	.info__tagline,
	.info__date
	{ 
		@include setType($h3Size, $h3LineHeight);
		// font-family:$serifFontFamily;
		// font-weight:$boldFontWeight;
		text-align:center;
	}

	.info__tagline
	{
		letter-spacing:-.15rem;
		// @include rem(padding-top, $doubleSpace);
		@include setType(4.2, 4.4);
	}

	.info__date
	{
		letter-spacing:-.1rem;
	}