//  ---------------------------------------------------------------------------
//
//  Defines the layout for google maps
//
//  ---------------------------------------------------------------------------




//  ---------------------------------------------------------------------------
//
//  Defines the styling for google maps
//
//  ---------------------------------------------------------------------------

	.map-container
	{ 
		position:relative;
		@include rem(height, $doubleSpace * 10);
		@include bleed;
		padding:0;
		overflow:hidden;
		
		&:after
		{
			content:" ";
			position:absolute;
			top:0;
			left:-50%;
			width:200%;
			height:100%;
			// background:rgba(0,0,0,.2);
			box-shadow:inset 0 0 2px 1px rgba(0,0,0,.3);
		}

		.map-canvas
		{
			@include rem(height, $doubleSpace * 10);			
		}
	}

	.map-link
	{
		display:block;
		@include bleed;
		@include rem(margin-bottom, $doubleSpace);
		@include rem(height, $doubleSpace * 10);
		background-image:url(../images/routes/routes--320.jpg);
		background-size:400% 100%;
	}

	.map-link--route-2
	{
		background-position:-100% 0;
	}

	.map-link--route-3
	{
		background-position:-200% 0;
	}

	.map-link--route-4
	{
		background-position:-300% 0;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	{
		.map-link
		{
			background-image:url(../images/routes/routes--320--2x.jpg);
		}
	}