//  ---------------------------------------------------------------------------
//
//  Defines the layout for google maps
//
//  ---------------------------------------------------------------------------




//  ---------------------------------------------------------------------------
//
//  Defines the styling for google maps
//
//  ---------------------------------------------------------------------------

	.map-container
	{ 
		position:relative;
		@include rem(height, $doubleSpace * 10);
		@include bleed;
		padding:0;
		overflow:hidden;
		
		&:after
		{
			content:" ";
			position:absolute;
			top:0;
			left:-50%;
			width:200%;
			height:100%;
			// background:rgba(0,0,0,.2);
			box-shadow:inset 0 0 2px 1px rgba(0,0,0,.3);
		}

		.map-canvas
		{
			@include rem(height, $doubleSpace * 10);			
		}
	}