
//  ---------------------------------------------------------------------------
//
//  Main navigation
//
//  ---------------------------------------------------------------------------

	.flyout
	{
		position:absolute;
		top:0;
		right:0;
		left:0;
		background:$blackSand;

		.grid
		{
			position:relative;
		}

		a
		{
			color:$white;
		}
	}

	.flyout__toggle
	{
		display:block;
		float:left;
		position:relative;
		@include rem(width, $touchSize);
		@include rem(height, $touchSize);
		@include rem(margin-left, -$r-grid-padding);
		@include rem(line-height, $touchSize);
		@include rem(font-size, $h3Size);
		text-align:center;

		.icon-reorder,
		.icon-remove
		{
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			@include rem(line-height, $touchSize);
		}

		.icon-reorder
		{
			@include transform(rotateZ(360deg) scale3d(1,1,1));
			@include transition(transform .3s ease, opacity .3s linear);
		}

		.icon-remove
		{
			opacity:0;
			@include transform(rotateZ(360deg) scale3d(.5,.5,1));
			@include transition(transform .3s ease, opacity .3s linear);
		}

		@include at-breakpoint($large-width)
		{
			display:none;
		}
	}

	.nav-is-shown .flyout__toggle
	{
		.icon-reorder
		{
			opacity:0;
			@include transform(rotateZ(0) scale3d(.5,.5,1));
		}

		.icon-remove
		{
			opacity:1;
			@include transform(rotateZ(0) scale3d(1,1,1));
		}
	}

	.mountains
	{
		float:right;
		@include rem(max-height, $touchSize);
	}

	.nav-main 
	{
		.menu-hauptmenue-container
		{
			@include rem(margin, $touchSize 0 0);
			@include transform(scale3d(.8, .8, .8) translate3d(0, 25px, 0));
			@include transition(transform .3s ease);

			ul
			{
				margin:0;
			}

			a 
			{
				color:rgba($white, .4);
			}

			.current-menu-item a
			{
				color:$white;
			}

			@include at-breakpoint($large-width)
			{
				margin:0;
				@include transform(scale3d(1,1,1) translate3d(0,0,0));		
			}
		}

		.menu-item
		{
			@include at-breakpoint($large-width)
			{
				display:inline;

				&:first-child
				{
					@include rem(margin-left, -$r-grid-padding);
				}
			}
		}

		.menu-item a
		{
			display:block;
			@include bleed;
			border-bottom:0 solid darken($blackSand, 3%);
			@include rem(border-bottom-width, $borderThin);
			font-family:$headingsFontFamily;
			@include setType($h3Size, $touchSize);
			text-align:center;
			text-transform:uppercase;

			@include at-breakpoint($large-width)
			{
				display:inline-block;
				margin-right:0;
				margin-left:0;
				border-bottom-width:0;
				@include rem(font-size, 2.1);
				text-align:left;
				text-transform:capitalize;
			}
		}
	}

	.no-touch .nav-main .menu a:hover,
	.touch .nav-main .menu a:active
	{
		color:$white;
	}

	.nav-is-shown .nav-main .menu-hauptmenue-container
	{
		@include transform(scale3d(1,1,1) translate3d(0,0,0));
	}

	.content
	{
		position:relative;
		@include rem(margin-top, $touchSize);
		background:$white;
		@include transition(transform .3s ease);
	}

	.nav-is-shown .content
	{
		@include transform(translate3d(0, $doubleSpace * 100px, 0));

		@include at-breakpoint($large-width)
		{
			@include transform(translate3d(0, 0, 0));
		}
	}