//  ---------------------------------------------------------------------------
//
//  Defines the layout for program section
//
//  ---------------------------------------------------------------------------




//  ---------------------------------------------------------------------------
//
//  Defines the styling for program section
//
//  ---------------------------------------------------------------------------
	
	.day
	{
		@include rem(padding-top, $doubleSpace * 2);
		border-top:0 solid $sandDark;
		@include rem(border-top-width, $borderMedium);

		&:nth-child(2)
		{
			padding-top:0;
			border-top:0 none;
		}
	}

	.day .program__icon
	{
		margin-right:0;
		@include rem(width, $doubleSpace * 1.5);
	}

	.day__video
	{
		@include bleed;
		margin-bottom:0;
		padding:0;
	}

	.day__route
	{
		width:100%;

		tr
		{
			border-bottom:1px solid $sandDark;

			&:last-child
			{
				border:0 none;
			}
		}

		@include at-breakpoint($huge-width)
		{
			@include span-columns(6 omega, $huge-cols);
		}
	}

	.day__date
	{
		@extend %h2;
	}

	.day__subheading
	{
		@include rem(margin-bottom, $singleSpace);
		@include setType($h4Size, $h4LineHeight);
	}

	.route__icon
	{
		@include rem(width, $doubleSpace * 1.5);
	}

	.route__location
	{
		text-align:left;
	}

	.route__altitude
	{
		text-align:right;
	}

	.day__dinner
	{
		clear:both;
	}

	.dinner__description
	{
		@include at-breakpoint($huge-width)
		{
			@include span-columns(6 omega, $huge-cols);
		}
	}

	.dinner__description--rev
	{
		@include at-breakpoint($huge-width)
		{
			@include span-columns(6 omega, $huge-cols, $from:right);
		}
	}

	.dinner--1,
	.dinner--2,
	.dinner--3,
	.dinner--4,
	{
		background-image:url(../images/events/notte-italiana.jpg);
		background-size:cover;
	}
