//  ---------------------------------------------------------------------------
//
//  Route images
//
//  ---------------------------------------------------------------------------


	.route-img
	{
		display:block;
		background-image:url(../images/experiences.jpg);
		background-size:1200% 100%;
	}

	.route-img--2
	{
		background-position:-100% 0;
	}

	.route-img--3
	{
		background-position:-200% 0;
	}

	.route-img--4
	{
		background-position:-300% 0;
	}

	.route-img--5
	{
		background-position:-400% 0;
	}

	.route-img--6
	{
		background-position:-500% 0;
	}

	.route-img--7
	{
		background-position:-600% 0;
	}

	.route-img--8
	{
		background-position:-700% 0;
	}

	.route-img--9
	{
		background-position:-800% 0;
	}

	.route-img--10
	{
		background-position:-900% 0;
	}

	.route-img--11
	{
		background-position:-1000% 0;
	}

	.route-img--12
	{
		background-position:-1100% 0;
	}







