//  ---------------------------------------------------------------------------
//
//  Defines the slider
//
//  ---------------------------------------------------------------------------


	.slider
	{
		position:relative;
		// background:$sandLight;
		@include bleed;
		padding:0;
		// @include rem(padding, $doubleSpace 0);
		@include rem(margin-bottom, $doubleSpace);
		overflow-x:scroll;
		-webkit-overflow-scrolling:touch;

		&::-webkit-scrollbar
		{
    		display: none; 
		}

		-ms-overflow-style: none;
		/* Hides the scrollbar. */
		
		-ms-scroll-chaining: none;
		/* Prevents Metro from swiping to the next tab or app. */
		
		-ms-scroll-snap-type: mandatory;
		/* Forces a snap scroll behavior on your images. */
		
		-ms-scroll-snap-points-x: snapInterval(0%, 100%);
		/* Defines the y and x intervals to snap to when scrolling. */

		@include at-breakpoint($huge-width)
		{
			padding:0;
			// background:transparent;
			@include span-columns(6, $huge-cols);
		}
	}

	.slider--rev
	{
		@include at-breakpoint($huge-width)
		{
			margin-right:0;
			@include span-columns(6, $huge-cols, $from:right);
		}
	}

	.slider__slides
	{
		@extend .cf;
		margin-bottom:0;
	}

	.slider__slides--contains-4
	{
		width:350%;

		.slider__slide 
		{
			width:25%;
		}

		@include at-breakpoint($large-width)
		{
			width:100%;

			.slider__slide 
			{
				width:50%;
			}
		}
	}

	.slider__slide 
	{
		float:left;
		@include rem(padding, $singleSpace);
	}